<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="user_info">
        <%#= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
        <% if @user == current_user  %>
        <div class="profile-img" style="background-image: url(<%= cl_image_path @user.photo.key, :gravity=>"face", :width=>418, :crop=>"thumb" %>);">
        </div>
        <% else %>
      <svg data-jdenticon-value="<%= @user.id %>" class="" id="navbarDropdown" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false"></svg>
      <% end %>
      <div><%= @user.name %></div>
      <% if @user == current_user %>
      <div><%= link_to "Add skill", new_skill_path %></div>
      <% end %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-12">
        <div class="container-fluid">
        </div>
        <div class="row">
          <% @user.skills.each do |skill| %>
          <div class="<%=@user != current_user ? 'col-12' : 'col-3' %> skill-item justify-content-between ">
            <div class="skill-title"><%= skill.name %></div>
            <% if @user == current_user %>
            <%= link_to skill_path(skill),
            method: :delete,
            data: { confirm: 'Are you sure?' } do %>
            <i class="far fa-minus-square icon-delete-skill"></i>
            <% end %>
            <% end %>
            <% if @user != current_user %>
            <%#= link_to "Book", new_skill_booking_path(skill) %>
            <%= render "bookings/form", skill: skill, booking: @new_booking %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
      <% if @user == current_user %>
      <div class="col-12 title-bookings">Your bookings</div>
      <div class="bookings col-12">
        <table class="bookings-table">
          <thead class="i-booked">
            <tr>
              <th>You booked</th>
              <th>From</th>
              <th>to</th>
              <th>Status</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody>
            <% @bookings.each do |booking| %>
            <tr>
              <td>
                <div class="d-flex align-items-center"><%= cl_image_tag booking.skill.user.photo.key, :gravity=>"face", :width=>50, :height =>50, :crop=>"thumb",class: "avatar mx-2" %>
                  <div class="user-info">
                    <div class="user-info-name">
                      <%= booking.skill.user.name %>
                    </div>
                    <div class="user-info-skill">
                    </div>
                  </div>
                </div>
              </td>
              <td><%= booking.date_start %></td>
              <td><%= booking.date_end %></td>
              <td> <div class="<%= booking.status %>"><%= booking.status %></div></td>
              <td> <%= booking.price %> </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>



      <% if !@user.skills.empty? %>
      <div class="bookings col-12">
        <table class="bookings-table">
          <thead>
            <tr>
              <th>Want your skill</th>
              <th>From</th>
              <th>to</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @user.skills.each do |skill| %>
            <% if skill.bookings.empty? %>
            <tr>
              <td>You haven't been booked yet</td>
            </tr>
            <% else %>
            <% skill.bookings.each do |booking| %>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <%= cl_image_tag booking.user.photo.key, :gravity=>"face", :width=>30, :height =>30, :crop=>"thumb",class: "avatar-sm mx-2" %>
                  <div class="user-info">
                    <div class="user-info-name">
                      <%= booking.user.name.capitalize %>
                    </div>
                    <div class="user-info-skill">
                      <%= skill.name %>
                    </div>
                  </div>
                </div>
              </td>
              <td><%= booking.date_start %></td>
              <td><%= booking.date_end %></td>
              <td> <div class="<%= booking.status %>"><%= booking.status %></div></td>
              <td>
                <% if booking.status == 'pending' %>
                <div class="d-flex">
                  <%= link_to accept_booking_path(booking),class:"icon-accepted mr-3" do%>
                  <i class="fas fa-check-circle"></i>
                  <% end %>
                  <%= link_to decline_booking_path(booking), class: "icon-decline" do %>
                  <i class="fas fa-times-circle"></i>
                  <% end %>
                </div>
                <% end %>
              </td>
            </tr>
            <% end %>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
