<div class="container-fluid grid-map">

  <div class="card-grid">

    <h1 class="cat-callout">Results for: <%= @category %></h1>
    <% @users.each do |user| %>
      <%= link_to user_path(user), class: "cat-skill-card-link" do %>
        <div class="cat-skill-card">
          <div class="cat-skill-card-top">
          <!-- Test a real picture -->
            <!-- <svg class="cat-skill-card-avatar" data-jdenticon-value="<%= user.id %>"></svg> -->
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key , :gravity=>"face", :width=>418, :crop=>"thumb", class: "cat-skill-card-avatar" if user.photo.attached? %>
            <% else %>
              <svg class="cat-skill-card-avatar" data-jdenticon-value="<%= user.id %>"></svg>
            <% end %>
            <div class="cat-skill-card-description">
              <h3 class="cat-skill-card-name"><%= user.name %></h3>
              <p class="cat-skill-card-category"><%= @category %></p>
              <i class="fas fa-star cat-skill-card-star"></i>
              <i class="fas fa-star cat-skill-card-star"></i>
              <i class="fas fa-star cat-skill-card-star"></i>
              <i class="fas fa-star cat-skill-card-star"></i>
              <i class="fas fa-star cat-skill-card-star"></i>
            </div>
            <div>
              <p class="cat-skill-card-price">starting at</p>
              <div class="cat-skill-card-price-bottom">
                <i class="fas fa-euro-sign cat-skill-card-euro"></i>
                <% user.skills.first(1).each do |skill| %>
                <p class="cat-skill-card-amount"> <%= skill.price_per_day %></p>
                <% end %>
              </div>
              <p class="cat-skill-card-price">p/day</p>
            </div>
          </div>
          <div class="cat-skill-card-bottom">
            <div class="cat-skill-card-language">
              <% user.skills.first(3).each do |skill| %>
              <p class="cat-skill-card-language-item"><%= skill.name %></p>
              <% end  %>
            </div>
          </div>
        </div>
      <% end  %>
    <% end %>

  </div>

  <div class="map-container">
    <div id="map"
     style="height: 100vh; top: 66px"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>



</div>
