  <div class="banner">
  <h2>Search for a skill</h2>
    <form action="/skills/search" method="GET" name="search">
      <div class="form-group">
        <input class="search" type="text" id="mainSearch"  name="search"/>
      </div>
      <button type="submit" class="btn btn-warning">Search now!</button>
    </form>
  </div>

<div class="container">
  <h1 class="homepage-call-out">Find Skilled People near you</h1>

  <div class="grid-cat-card">
  <%= link_to skills_category_path("front-end"), class: "cat-card-link" do %>
     <%= image_tag "https://source.unsplash.com/uo8Jfqdzs18", class: "cat-card-img" %>
        <div class="cat-card-body">
          <h3 class="cat-card-title">Front-end</h3>
          <p class="card-text">Find the finest front-end developers in your area.</p>
        </div>
  <% end  %>


  <%= link_to skills_category_path("back-end"), class: "cat-card-link" do %>
   <%= image_tag "https://source.unsplash.com/Bv2FCJoh8XM", class: "cat-card-img" %>
        <div class="cat-card-body">
          <h3 class="cat-card-title">Back-end</h3>
          <p class="card-text">Get in touch with the baddest back-end developers near you.</p>
        </div>
  <% end %>

  <%= link_to skills_category_path("full-stack"), class: "cat-card-link" do %>

      <%= image_tag "https://source.unsplash.com/zrEkb4ILymM", class: "cat-card-img" %>
      <div class="cat-card-body">
        <h3 class="cat-card-title">Full-stack</h3>
        <p class="card-text">Find full-stack developers to help you out.</p>
      </div>
  <% end %>

  <%= link_to skills_category_path("data-science"), class: "cat-card-link" do %>
   <%= image_tag "https://source.unsplash.com/pCqzMe04s8g", class: "cat-card-img" %>
      <div class="cat-card-body">
        <h3 class="cat-card-title">Data-science</h3>
        <p class="card-text">Data labrats at your disposal.</p>
      </div>
  <% end %>

  <%= link_to skills_category_path("product management"), class: "cat-card-link" do %>
   <%= image_tag "https://source.unsplash.com/Oalh2MojUuk", class: "cat-card-img" %>
      <div class="cat-card-body">
        <h3 class="cat-card-title">Product</h3>
        <p class="card-text">Progress in your project with a Product Manager.</p>
      </div>
    </div>
  <% end %>
</div>

